
*{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  user-select: none;
}



.carta,
.lineasb,
.tarjeta,
.fondo,
.medio,
.sombra,
.arriba,
.carousel-container,
.main-container,
.cartel,
.overlaY{
  width: 100%;
  height: 100%;
}

.fondo,
.medio,
.lineasb,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.arriba,
.sombra,
.overlay,
.trasera{
  pointer-events: none;
}

.carta,
.fondo,
.lineasb,
.medio,
.arriba,
.sombra,
.carousel-container,
.cartel,
.botonreset,
.main-container,
.overlay,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
  position: absolute;
}

.carta,
.carousel-item
.carousel-container{
overflow: hidden;

}


.fondo{
  z-index: 1;
  filter: brightness(0.5);
}

.tarjeta,
.carousel-container{
  justify-content: center;
  align-items: center;
}

.tarjeta {
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.tarjeta:hover {
  animation-play-state: paused; 
}



.carta {

  border-radius: 50%;
  cursor:pointer;
transition: 0.1s ease;
}
.carta:hover{
  width: 300px;
  height: 300px;
}



.carousel-item:hover{
  z-index: 99999;
}

.lineasb{
  filter: opacity(0.4);
  z-index: 2;
  background-size: cover;
  background-image: url(../assets/LINEASB.webp);
}
.medio,
.arriba,
.sombra {z-index: 4;
     filter: contrast(1.2);}

.carousel-container {
  background-image: url(../assets/background.webp);
  background-position: center;
  background-size: cover;
  display: flex;
}

.contenedortazos{
  border: 60px solid rgb(59, 59, 59);
  border-radius: 250px;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(208, 208, 208);
  box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.491) inset;
}
.contenedortazosbrillo{
  box-shadow: -1px 6px 4px -1px rgba(255, 255, 255, 0.514);
  border-radius: 150px;
  position: absolute;
  width: 730px;
  height: 260px;
}

.carousel-item {
  margin: 0px 15px;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 600;
  transform-style: preserve-3d;
  animation: giro 1s;
}

@keyframes giro {
  0% {
    transform: rotateY(0deg) ;
    filter: brightness(5) blur(20px);
  
  }
 
  100% {
    transform: rotateY(720deg);
  }
}



.cartel {
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.700);
  backdrop-filter:blur(10PX);
}

.cartel p{
padding-top: 20%;
  text-align: center;
  font-size: 150%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(21, 255, 0);
}

.botonreset{
  background-image: url(../assets/reload.webp);

  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: 0.4s;
}


.botonreset:hover{
transition: 0.4s;
cursor: pointer;
transform: scale(1.2);
}

.botonreset.animar {
  animation: reload 0.3s ease forwards;
}

@keyframes reload{
  0%{
   background-image: url(../assets/reload002.webp);
  }
  10%{
    background-image: url(../assets/reload002.webp);
  }
  20%{
    background-image: url(../assets/reload003.webp);
  }
  30%{
    background-image: url(../assets/reload004.webp);
  }
  45%{
    background-image: url(../assets/reload005.webp);
  }
  60%{
    background-image: url(../assets/reload006.webp);
  }
  70%{
    background-image: url(../assets/reload007.webp);
  }
  80%{
    background-image: url(../assets/reload008.webp);
  }
  190%{
    background-image: url(../assets/reload010.webp);
  }
  100%{
    background-image: url(../assets/reload.webp);
  }
}

.main-container{
  background-image: url(../assets/reloadBACKGROUND.webp);
  background-size: cover;
  width: 150px;
  height: 150px;
  display: flex;
  right: 5%;
  bottom: 50PX;
}

.overlay {
  z-index: 650;
  transition: opacity 0.2s ease; 
}



.circle1 {
  /*---------------LUZ SUAVE-------------------*/
  border-radius: 50%;
  box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.534);
  z-index: 3;
}

.footer{
  bottom: 2%;
  font-size: 70%;
  padding: 0% 20%;
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
}

  /*-----------------------------MEDIA--------------------------------*/
@media only screen and (max-width: 900px){

  
  .carousel-container {
      justify-content: center;
    align-items: center;
background-image: url(../assets/background2.webp);

  }

  .contenedortazos{
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(223, 223, 223);
    width: 260PX;
    height: 260PX;
    transform: translateY(-50px);
  }

  .carta:hover{
    width: 300px;
    height: 300px;
  
  }

  .contenedortazosbrillo{
    box-shadow: -1px 3px 5px -1px rgba(255, 255, 255, 0.499);
    border-radius: 150px;
    position: absolute;
    width: 260px;
    height: 260px;
  }

  .main-container{
    align-items: end;
    justify-content: center;
    background-image: url(../assets/);
    background-size: cover;
    width: 100%;
    height: 120px;
    right: 0%;
    bottom: 12%;
  }

  .carousel-item {
    margin: 0px 0px;
    width: 200px;
    height: 200px;

  }
  
  .botonreset{
    background-image: url(../assets/reload.webp);
    background-size: cover;
    width: 120px;
    height: 100%;
  }
  .footer{
    padding: 0% 10%;

  }

  .contenedortazosbrillo{
    transform: translateY(-50px);
    box-shadow: -1px 6px 4px -1px rgba(0, 0, 0, 0.514);

  }
}