
*{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes animacion1 {
  0% { transform: translateY(0PX); }
  50% { transform: translateY(-14px); }
  100% { transform: translateY(0PX); }
}

@keyframes animacion2 {
  0% { transform: translateY(0); }
  50% { transform: translateY(18px); }
  100% { transform: translateY(0); }
}

@keyframes animacion3 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

/* Clases que aplican las animaciones */
.animacion1 {
  animation: animacion1 4s ease-in-out infinite;
}

.animacion2 {
  animation: animacion2 5s ease-in-out infinite;
}

.animacion3 {
  animation: animacion3 4s ease-in-out infinite;
}

.tarjeta,
.fondo-rainbow,
.medio,
.sombra,
.arriba,
.efectoholograficolineas,
.line-container,
.carousel-container,
.main-container,
.cartel,
.overlaY{
  width: 100%;
  height: 100%;
}


.medio,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.arriba,
.sombra,
.overlay,
.efectoholograficolineas,
.trasera{
  pointer-events: none;
}

.carta,
.fondo-rainbow,
.medio,
.arriba,
.sombra,
.efectoholograficolineas,
.line-container,
.carousel-container,
.cartel,
.botonreset,
.main-container,
.overlay,
.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
  position: absolute;
}

.carta,
.carousel-container,
.main-container{
overflow: hidden;
}


.tarjeta,
.carousel-container{
  justify-content: center;
  align-items: center;
}

.tarjeta {
  display: flex;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.tarjeta:hover {
  animation-play-state: paused; 
}



.carta {
  width: 220px;
  height: 300px;
  filter: contrast(1.5);
  cursor:pointer;
  border-radius: 11px;
transition: 0.2s ease;
backface-visibility: hidden;

}
.carta:hover{
  border-radius: 15px;
  width: 330px;
  height: 450px;

}

.trasera{
  background-image: url(../assets/ATRAS.webp);
  background-size: contain;
  transform: rotateY(180deg);
}

.carousel-item:hover{
  z-index: 99999;
}


.fondo-rainbow{
  background: linear-gradient(45deg, rgba(0,255,76,1) 0%, rgba(255,0,228,1) 49%, rgba(0,202,255,1) 71%, rgba(255,248,0,1) 100%);
}

.medio {z-index: 5;}
.arriba {z-index: 10;}
.sombra {z-index: 20;}

  
.line-container {
    display: flex;
    flex-direction: column;
  }
  
  .line {
    transition: transform 0.1s linear, filter 0.2s ease;
  }

.line-container,
.line-recta,
.line-violet,
.line-white,
.line-yellow,
.rainbow{
  width: 100%;
}

  .line-white{
    background-color: white;
    height:0px;
    box-shadow: 0px 0px 8px 8px rgb(255, 255, 255);
    }
    .line-yellow{
      background-color: rgb(255, 233, 187);
      height:5px;
      box-shadow: 0px 0px 8px 4px rgb(255, 232, 187);
      }

      .line-violet{
        background-color: rgb(243, 183, 255);
        height:0px;
        box-shadow: 0px 0px 20px 5px rgb(243, 180, 255);
        }
      .line-recta{
        background-color: rgba(208, 0, 255, 0.252);
        box-shadow: 0px 0px 20px 15px rgba(93, 0, 88, 0.75);    
        height:10px;
      }

.carousel-container {
  background: linear-gradient(180deg, rgba(62,124,255,1) 9%, rgba(255,255,255,1) 57%, rgba(154,154,154,1) 100%);
  display: flex;
  padding: 0px 250px;
}

.carousel-item {
  width: 330px;
  height: 450px;
  position: relative;
  z-index: 600;
  transform-style: preserve-3d;
  animation: giro 1s;
}

@keyframes giro {
  0% {
    transform: rotateY(0deg) scale(0.1) ;
  
  }
 
  100% {
    transform: rotateY(720deg);
  }
}



.cartel {
  z-index: 700;
  background-color: rgba(0, 0, 0, 0.700);
  backdrop-filter:blur(0.2rem);
}

.cartel p{
padding-top: 20%;
  text-align: center;
  font-size: 150%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(21, 255, 0);
}

.botonreset{
  background-image: url(../assets/reload.webp);
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 999999;
  transition: 0.4s;
}


.botonreset:hover{
transform: scale(1.2);
transition: 0.4s;
cursor: pointer;
}

.botonreset.animar {
  animation: reload 0.4s ease forwards;
}

@keyframes reload{
  0%{
    transform: scale(1.2) rotate(0deg);
  }
  
  100%{
    transform: scale(1.2) rotate(-360deg);
  }
}

.main-container{
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 20px;
}

.overlay {
  z-index: 650;
  transition: opacity 0.2s ease; 
}



.circle1 {
  /*---------------LUZ SUAVE-------------------*/
  box-shadow: 0px 0px 100px 100px rgb(255, 255, 255);
  z-index: 9;
}

.circle2 {
  /*---------------SATINADO-------------------*/
  box-shadow: 0px 0px 50px 50px rgb(255, 255, 255);
  z-index: 10;
}

.circle3 {
  /*---------------REFLEJO VENTANA-------------------*/
  box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 0.613);
  z-index: 8;
}


.circle4 {
  /*---------------REFLEJO VENTANA-------------------*/
  box-shadow: 0px 0px 100px 100px rgba(255, 255, 255, 0.386);
  z-index: 10;
}
.circle5{
transform: rotateX(180deg);
  box-shadow: 0px 0px 50px 50px rgb(255, 255, 255);
  z-index: 10;
}


.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle-inverse{
  border-radius: 50%;
}

  /*-----------------------------MEDIA--------------------------------*/
@media only screen and (max-width: 900px){

  
  .main-container{
    align-items: end;
    justify-content: center;

  }
  
  .carousel-container {
    padding: 0px 0px;
      justify-content: center;
    align-items: center;

  }




}